// Commons
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;

	font-size: 1em;
	font-family: $body-font;
	color: $base-color;
}

img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

a {
	color: $accent-color;
	text-decoration: none;

	&:hover {
		color: darken($accent-color, 10%);
		text-decoration: underline;
	}
}

h1 {
	margin-top: $space-xs;
	margin-bottom: $space-xs;

	font-size: $font-xxl;
	font-family: $heading-font;
	font-weight: 500;
	line-height: 1.2;
}

h2 {
	margin-top: $space-xs;
	margin-bottom: $space-xs;

	font-size: $font-xl;
	font-family: $heading-font;
	line-height: 1.2;
}

p {
	line-height: 1.5;

	& + p {
		margin-top: $space-xs;
	}
}

strong {
	font-weight: 600;
}

em {
	font-style: italic;
}

.container {
	max-width: $site-width;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	margin: 0 auto;
}
