// BUTTONS
.button {
	display: inline-block;
	padding: $space-xs $space-md;

	font-size: $font-xs;
	text-transform: uppercase;
	letter-spacing: .08em;
	user-select: none;
	color: $gray-color-70;
	font-family: $body-font;
	font-weight: 600;
	white-space: nowrap;
	vertical-align: middle;
	line-height: 1.5;

	border: 1px solid transparent;
	border-radius: 3px;
	background-color: $gray-color-20;
	cursor: pointer;

	transition: 150ms ease-in-out;


	&:hover {
		background-color: darken($gray-color-20, 10%);
		border-color: darken($gray-color-20, 15%)
	}

	&--primary {
		background-color: $primary-color;
		color: #FFF;

		&:hover {
			background-color: darken($primary-color, 10%);
			border-color: darken($primary-color, 15%);
		}
	}

	&--success {
		background-color: $success-color;
		color: #FFF;

		&:hover {
			background-color: darken($success-color, 10%);
			border-color: darken($success-color, 15%);
		}
	}
}


// BREADCRUMB
.breadcrumb {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 1em;
	margin: 0 0 1em;

	list-style: none;
	background-color: $gray-color-10;
	border-radius: 5px;

	&__item {
		padding-right: .5em;

		color: #6c757d;

		a {
			color: $accent-color;

			&:hover {
				color: darken($accent-color, 10%);
			}
		}

		& + & {
			&::before {
				display: inline-block;
				padding-right: .5rem;
				color: #6c757d;
				content: "/";
			}
		}
	}
}

// FORM
.form {
	&__row {
		display: flex;
		flex-direction: column;

		margin-bottom: $space-md;
	}

	label {
		margin-bottom: $space-xs;
	}

	&__input {
		display: block;
		width: 100%;
		padding: $space-xs;

		font-size: $font-sm;
		color: $gray-color-50;

		border: 1px solid $gray-color-20;
		border-radius: $input-form-radius;
		background-color: #FFF;

		&:focus {
			border-color: $primary-color;
			box-shadow: 0 0 .2rem rgba($primary-color, .25);
		}
	}

	&__help {
		margin-top: $space-xxs;

		font-size: $font-xs;
		color: $gray-color-50;

		&--danger {
			color: $danger-color;
		}

		&--success {
			color: $success-color;
		}
	}


	input[type="checkbox"] {
		display: none;

		& + label {
			position: relative;
			display: block;

			&::before,
			&::after {
				content: "";
			}

			&::before {
				display: inline-block;
				vertical-align: middle;
				height: 14px;
				width: 14px;
				margin-right: $space-xs;

				border: 1px solid $gray-color-20;
				border-radius: $input-form-radius;
			}

			&::after {
				display: block;
				position: absolute;
				top: 5px;
				left: 2px;

				height: 10px;
				width: 10px;

				background-color: $primary-color;
				border-radius: 2px;

				transform: scale(0);
				//transition: transform 200ms;
			}
		}

		&:checked {
			& + label {
				&::before {
					border-color: $primary-color;
				}

				&::after {
					transform: scale(1);
				}
			}
		}

		&:disabled {
			& + label {
				opacity: .5;
			}
		}
	}
}