$number: 4 !default;
$gutter: .5em !default;


@mixin grid($number: $number, $gutter: $gutter) {
	& {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		margin-left: - $gutter;
		margin-right: - $gutter;

		> * {
			flex: 0 0 auto;
			width: calc(100% *1 / #{$number} - (#{$gutter} * 2));
			margin-left: $gutter;
			margin-right: $gutter;
		}
	}
}