/**
 * Colors
 * @type
 */
$accent-color: #ec957e !default;
$base-color: #111 !default;
$heading-color: #111 !default;

$primary-color: $accent-color;
$secondary-color: gray;
$danger-color: red;
$success-color: #10bc4e;

$gray-color-10: #FAFAFA;
$gray-color-20: #ced4da;
$gray-color-50: rgba(0, 0, 0, 0.6);
$gray-color-60: #6c757d;
$gray-color-70: #555;

/**
 * Fonts
 */
$body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$heading-font: 'Rubik', sans-serif;


// Font sizes
$font-xxs: .5rem;
$font-xs: .75rem;
$font-sm: 1rem;
$font-md: 1.25rem;
$font-xl: 2rem;
$font-xxl: 2.5rem;

// Sizes
$site-width: 1140px;

// Spacing
$space-xxs: .5rem;
$space-xs: .75rem;
$space-sm: 1rem;
$space-md: 1.25rem;
$space-xl: 1.5rem;
$space-xxl: 1.75rem;

// Margin
// Breakpoints
$breakpoints: (
	'small':  767.98px,
	'medium': 991.98px,
	'large':  1199.98px
) !default;


// COMPONENTS - FORMS
$input-form-radius: 3px !default;